* {
    margin: 0px;
    font-family: "Poppins", sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.boton-arriba {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.boton-arriba:hover {
  background-color: rgb(248, 211, 0);
  transform: scale(1.1);
}

.boton-arriba svg {
  display: block;
}


h2 {
    font-family: "Poppins", sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: normal;
}

strong {
    font-family: "Poppins", sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
    font-style: normal;
}

/* /* para sacer la linea */
/* para que caundo el cursor este arriba cambie de color */
nav a:hover {
    color: rgb(255, 255, 255);
}
.titulo_header{
    text-decoration: none;
}
.titulo_header:hover{
    text-decoration: none;
}
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    cursor: pointer;
}

.nombreSaga {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: rgb(248, 211, 0);
    text-shadow: 2px -3px 6px rgb(255, 255, 255);
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

nav ul.menu > li {
  position: relative;
}

nav ul.menu > li > a {
  padding: 6px;
  text-decoration: none;
  color: rgb(248, 211, 0);
  font-weight: 600;
}

nav ul.submenu {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 100%;
  left: 0;
  min-width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  z-index: 10;
}

nav ul.submenu li a {
  display: block;
  padding: 20px;
  color: rgb(248, 211, 0);
  text-decoration: none;
}

nav ul.menu > li:hover > ul.submenu {
  display: block;
}

nav ul.submenu li a:hover {
    color: whitesmoke;
  background-color: rgb(50, 50, 50);

}

.espaciado_li li {
    margin-top: 35px;
    margin-bottom: 15px;
}


footer {
    color: rgb(249, 200, 136);
    font-size: 25px;
    background-color: rgb(59, 26, 89);
    padding: 20px 0px 20px 0px;
    width: 100%;
}

.lista_redes_contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.list_info_footer {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.redes_footer {
    text-align: right;
    padding-right: 20px;
}

.redes_titulo_footer {
    font-size: 20px;
    color: rgb(249, 200, 136);
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.iconos_redes_footer {
    display: flex;
    max-width: 500px;
}

.iconos_redes_footer a {
    width: 40px;
    height: 32px;
    display: block;
    padding: 5px;
}

.iconos_redes_footer a img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.iconos_redes_footer a img:hover {
    transform: scale(1.2);
}